* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../background.jpeg);
  background-color: #d7e7fb;
  background-blend-mode: overlay;
  font-family: 'Playpen Sans', cursive;
}

/* Main */
.container {
  margin: 50px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
}

.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 45px 30px;
}

.input-form {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.user-input {
  border-radius: 20px;
  border: 1.5px solid #27548a;
  padding: 15px;
  width: 75%;
}

.submit-button {
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  background-color: #27548a;
  color: #fafafa;
  font-size: 16px;
  margin-left: 3%;
  width: 27%;
}

.input-example {
  font-size: 12px;
}

/* Poem container - API response data */
.poem-container {
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fafafa;
  padding: 30px;
  border-left: 5px solid #27548a;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.poem-container h2 {
  margin-bottom: 10px;
}

.poem-container strong {
  color: #27548a;
}

.poem-container .shecode {
  color: #ef5e9a;
  font-size: 14px;
  line-height: 4;
}

.hidden {
  display: none;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Footer */
footer {
  text-align: center;
  font-size: 12px;
}
